* {
  box-sizing: border-box;
}

html {
  background-color: #202124;

  &.light-mode {
    background-color: white;
  }
}

@mixin desktop {
  @media only screen and (max-width: 2000px) {
    @content;
  }
}

@mixin tablet {
   @media only screen and (max-width: 1000px) {
     @content;
   }
}

@mixin phone {
  @media only screen and (max-width: 750px) {
    @content
  }
}

.app {
  font-family: 'Poppins', sans-serif;
  background-color: #202124;
  color: #e2e2e2;

  &.light-mode {
    background-color: white;

    nav {
      .nav__link {
        svg {
          fill: #2d2e30;
        }

        p {
          color: #2d2e30;
        }

        &.selected {
          background-color: #feefc3;
  
          &:hover, &:focus {
            background-color: #f0d37b;
          }
        }
  
        &:hover, &:focus {
          background-color: #d8d8d896;
        }
      }
    }

    .routes {
      .route {
        .notes-container {
          .note {
            border-color: #b6b6b69d;
            color: rgba(0, 0, 0, 0.637);
            transition: all .3s;

            p {
              color: #202124ab;
            }

            &:hover {
              box-shadow: 7px 7px 20px #0000003a;
            }

            .labels-container {
              .note-label {
                background-color: rgb(228, 228, 228);
                color: #2d2e30;

                &:hover { 
                  background-color: rgba(255, 162, 162, 0.664);
                }
              }
            }

            .deleted-overlay {
              transition: all .3s;

              button {
                background-color: rgb(255, 255, 255);
                color: #202124;
                border: 1px solid transparent;

                &:hover {
                  background-color: white;
                  border-color: #7c7c7c;
                  color: #202124;
                  box-shadow: 1px 1px 3px #7070705b;
                }
              }

              &:hover {
                background-color: #5253563b;
                border: none;
              }
            }

            .label-modal {
              background-color: rgb(255, 255, 255);
              border: 1px solid #e2e2e2;
              box-shadow: 3px 3px 8px #5253561f;

              input {
                color: #202124;
              }

              .modal-options {
                button {
                  color: #2021248a;
                  border: 1px solid transparent;
                  transition: all .3s;

                  &:hover {
                    background-color: transparent;
                    border-color: #99999a;
                  }
                }

                .modal-icons-container {
                  i:hover {
                    background-color: #f1f1f1;
                  }
                }
              }
            }

            &:hover {
              border: none;
            }

            .icons {
              *:hover, *:focus {
                fill: #202124;
                color: #202124;
              }
            }
          }
        }
      }

      .Notes {
        .take-a-note {
          color: #2d2e30;
          border-color: #a3a5a86e;
        }

        .note-field {
          box-shadow: 3px 3px 8px #57575a88;

          input, textarea {
            color: rgb(43, 43, 43);
          }

          .note-field-buttons {
            button {
              color: #37383bad;
              transition: all .3s;

              &:hover {
                color: rgba(0, 0, 0, 0.822);
              }
            }
          }
        }

        .empty-notes {
          i {
            color: #5253562d;
          }

          p {
            color: #36363698;
          }
        }
      }

      .Labels {
        .labels-header, .label-name {
          color: #4f4f52;
        }

        .empty-labels {
          i {
            color: #5253562d;
          }

          p {
            color: #36363698;
          }
        }
      }

      .Archive {
        .archive-header {
          color: #4f4f52;
        }

        .empty-archive {
          i {
            color: #5253562d;
          }

          p {
            color: #36363698;
          }
        }
      }

      .Trash {
        .deleted-header {
          color: #4f4f52;
        }

        .empty-trash {
          i {
            color: #5253562d;
          }

          p {
            color: #36363698;
          }
        }
      }
    }
  }

  .home__header {
    display: flex;
    align-items: center;
    height: 13vh;
    border-bottom: 1px solid #727272a8;

    &.light-mode {
      background-color: white;

      .ham-logo-keep-container {
        svg {
          fill: #646464;

          &:hover {
            fill: black;
          }
        }

        h1 {
          color: #4d4d4d;
        }
      }

      form {
        svg {
          fill: #57575a;
        }

        input {
          background-color: #f1f3f4;

          &:focus {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
          }

          &.searching {
            background-color: rgb(221, 247, 221);
          }
        }
      }

      .header-btns-container {
        i {
          color: #4d4d4dbb;
        }

        button {
          color: #2d2e30;
          border: none;

          &:hover {
            box-shadow: 2px 2px 5px #57575a83;
          }
        }
      }
    }

    .ham-logo-keep-container {
      display: flex;
      align-items: center;
      margin-inline: 1.5em;

      svg {
        font-size: 0px;
        width: 25px;
        fill: #929292;
        transition: all .3s;
        position: relative;
        top: 2px;

        &:hover, &:focus {
          cursor: pointer;
          fill: white;
        }
      }

      .logo {
        width: 2rem;
        margin-inline: 1.3rem;
      }
  
      a {
        text-decoration: none;
        color: white;

        h1 {
          font-weight: 500;
          font-size: 22px;
          margin-inline-end: 1.3rem;
        } 
      }

      @include phone {
        .logo, a {
          display: none;
        }
      }
    }

    form {
      width: 100%;

      svg {
        position: relative;
        fill: #b4b4b4;
        left: 1.35em;
        top: 1.79em;
        z-index: 1;
      }
  
      input {
        padding: .8em 4em;
        background-color: #4d4d4d;
        border: none;
        border-radius: 10px;
        width: 100%;
        transition: all .3s;
        position: relative;
        bottom: .9em;
        color: white;

        &.searching {
          background-color: rgba(95, 158, 95, 0.336);
        }
  
        &::placeholder {
          color: #b7b7b8;
        }
  
        &:focus {
          background-color: rgb(255, 255, 255);
          color: black;
        }
      }
    }

    .header-btns-container {
      display: flex;
      align-items: center;

      button {
        font-size: 14px;
        color: white;
        background-color: transparent;
        border: none;
        padding: .5em 1.5em;
        border-radius: 99px;
        margin-inline: 2em 1em;
        transition: all .3s;
        border: 1px solid transparent;

        &:hover {
          transform: translate(-1px, -1px);
          box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.993);
          border-color:#ffbb00d0;
        }
      }

      .toggler-container {
        margin-inline: 2em;

        .switch {
          position: relative;
          display: block;
          width: 90px;
          height: 55px;
          transform: scale(.6);
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(230, 230, 230, 0.096);
          transition: .5s;
          border: 4px solid transparent;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
        }

        .slider::before {
          position: absolute;
          content: "";
          bottom: 14px;
          top: 8px;
          background-color: #ecd798;
          transition: .5s;
        }

        .switch input {
          display: none;
        }

        input:checked + .slider {
          background-color: #101111cb;
        }

        input:checked + .slider::before {
          transform: translateX(43px) rotateZ(45deg);
          background-color: #ffbb01;
        }

        .slider.round {
          border-radius: 35px;
        }

        .slider.round::before {
          width: 43%;
          height: 43%;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          transform: rotateZ(-45deg);
        }

      }
    }

  }

  nav {
    width: max-content;

    .nav__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1em 1.5em;
      margin-block: 1em;
      width: 250px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      transition: background-color .3s;

      svg {
        fill: #e2e2e2;
        transform: scale(105%);
      }

      p {
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin: 0;
        margin-inline-start: 1.8em;
        width: 100px;
        transition: opacity .4s;
      }

      &.closed {
        margin: 1em .5em;
        padding: 1em;
        border-radius: 50%;
        width: max-content;

        p {
          width: 0px;
          margin: 0;
          overflow: hidden;
          opacity: 0;
        }
      }

      &.selected {
        background-color: #41331c;

        &:hover, &:focus {
          background-color: #584424;
        }
      }

      &:hover, &:focus {
        background-color: #45464b96;
      }
    }

    @include tablet {
      .nav__link {
        width: fit-content;
      }
    }
  }

  main {
    display: flex;

    .routes {
      width: 100%;
      height: 100%;
      
      .route {
        padding: 1.5em;
        
        .notes-container {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;

          .note {
            border: 1px solid #5f6368;
            border-radius: 10px;
            padding: 1em;
            margin: 1%;
            width: 22%;
            overflow-wrap: break-word;
            position: relative;
            transition: all .3s;

            &:nth-child(4n + 1) {
              margin-inline-start: 0;
            }

            &:hover {
              box-shadow: 7px 7px 20px #00000098;
              transform: translate(-4px, -4px);
            }

            h2 {
              margin-block-end: .5em;
            }

            p {
              margin-block-end: .5em;
              color: #b7b7b8;
            }

            .labels-container {
              display: flex;
              flex-wrap: wrap;

              .note-label {
                font-size: 12px;
                margin: 0 1em 0em 0;
                background-color: #37383b;
                width: max-content;
                padding: .4em 1em;
                border-radius: 99px;
                margin-block-start: 1em;
              }

              button {
                color: rgba(255, 255, 255, 0.76);
                border: none;
                transition: all .2s;
                cursor: pointer;
                
                &:hover {
                  background-color: #5e3b3b;
                }
              }
            }

            &.deleted-note {
              transition: all .3s;

              p {
                font-size: 16px;
              }
              
              &:hover {
                backdrop-filter: blur(5px);
                border-color: transparent;
              }
            }

            .deleted-overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              transition: all .3s;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              button {
                color: rgb(226, 226, 226);
                background-color: #5c5c5ccc;
                border: none;
                padding: .5em 1em;
                font-size: 14px;
                border-radius: 99px;
                transition: all .3s;
                cursor: pointer;

                &.delete-btn {
                  margin-inline-end: 1em;
                }

                &:hover {
                  background-color: #616161;
                  color: rgb(255, 255, 255);
                  transform: translate(-1px, -1px);
                  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.644);
                  backdrop-filter: blur(5px);
                  border-color: transparent;
                }
              }

              &:hover {
                background-color: #18181ab9;
              }
            }

            .label-modal {
              width: 80%;
              display: flex;
              flex-direction: column;
              padding: 1em;
              position: absolute;
              top: 90%;
              left: 30%;
              background-color: #2d2e30;
              box-shadow: 6px 10px 12px rgba(26, 26, 26, 0.842);
              border-radius: 7px;
              z-index: 1;

              p {
                margin: 0 0 .5em 0;
                font-size: 16px;
              }

              input {
                width: 100%;
                background-color: transparent;
                border: none;
                color: white;
                font-size: 12px;
                padding: .3em .7em .3em 0;
                border-radius: 5px;
                outline: none;
              }

              .modal-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-block-start: 1em;

                button {
                  font-size: 12px;
                  background-color: transparent;
                  border: none;
                  color: #e2e2e2;
                  position: relative;
                  right: 6px;
                  bottom: 1px;
                  padding: .6em;
                  margin-bottom: -.6em;
                  transition: background-color .2s;
                  border-radius: 99px;

                  &:hover {
                    background-color: #525356;
                  }
                }

                .modal-icons-container {
                  i {
                    cursor: pointer;
                    padding: .6em;
                    transition: all .2s;
                    border-radius: 50%;
                    margin-bottom: -.5em;
                    font-size: 13px;
                    margin-inline-end: .5em;
    
                    &:hover {
                      background-color: #525356;
                    }
                }

              }

              }
            }

            &.open-modal {
              border: 1px solid rgba(255, 255, 255, 0.781);
              position: relative;
              z-index: 1;
            }
          }

          h2, p {
            margin: 0 0 1em 0;
          }

          .icons {
            display: flex;
            justify-content: right;
            fill: #99999a;
            color: #99999a;
            padding-inline-end: .5em;
            max-height: 100px;
            transition: max-height .4s, opacity .2s;

            i {
              font-size: 18px;
              position: relative;
              top: 1px;
              right: 2px;
            }

            * {
              margin-inline-start: 1.5em;
              transition: all .2s;
              margin-block-start: 1em;

              &:hover, &:focus {
                fill: #eeeeee;
                color: #eeeeee
              }
            }

            .fa-bookmark {
              opacity: .9;
              position: relative;
              top: 5px;
              right: 10px;
              color: #99999a;

              &:hover, &:focus {
                color: #f5f5f5;
              }
            }

            &.hidden {
              max-height: 0;
              opacity: 0;
            }
          }
        }

        @include desktop {
          .notes-container {
            .note {
              margin: 1%;
              width: 31.3333%;

              &:nth-child(3n + 1) {
                margin-inline-start: 0;
              }
            }
          }
        }

        @include tablet {
          .notes-container {
            .note {
              width: 46%;
              margin: 2%;

              &:nth-child(2n + 1) {
                margin-inline-start: 0;
              }
            }

          }
        }

        @include phone {
          .notes-container {
            .note {
              width: 100%;
              margin-inline: 0;
            }
          }
        }
      }
      
      .Notes {

        .take-a-note {
          display: block;
          width: 60%;
          margin: auto;
          margin-block-end: .8em;
          background-color: transparent;
          color: #eeeeee;
          border: 1px solid #e2e2e2a2;
          padding: .75em .75em;
          border-radius: 10px;

          &:disabled {
            cursor: not-allowed;
          }
        }

        .note-field {
          display: flex;
          flex-direction: column;
          width: 60%;
          max-width: 800px;
          margin: auto;
          border: 1px solid rgba(211, 211, 211, 0.438);
          border-radius: 10px;
          padding: .1em .5em;
          box-shadow: 2px 2px 2px black;

          input, textarea {
            background-color: transparent;
            border-radius: 10px;
            border: none;
            margin: .7em .2em .2em .2em;
            padding: .5em .5em;
            color: #eee;
          }

          textarea {
            font-size: 14px;
            resize: none;
            padding-block: 1em;
          }
          
          .note-field-buttons {
            width: max-content;
            align-self: end;
            padding-block: .5em;

            button {
              background-color: transparent;
              border: none;
              color: #e2e2e2; 
              font-size: 14px;
              margin-inline-start: 1.5em;
              cursor: pointer;
              padding: .8em 1.4em;
              border-radius: 5px;
              transition: all .2s;

              &:hover, &:focus {
                background-color: #68686825;
              }
            }
          }
        }

        .empty-notes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 73vh;
          // padding-block: 5rem;
          
          i {
            color: #37383b;
            font-size: 100px;
          }

          p {
            font-size: 23px;
            color: #aeafb3;
          }
        }
      }

      .Labels {
        .labels-header {
          margin-block: 0 .9em;
          padding-block: 0 .7em;
          border-bottom: 1px solid #99999a;
        }

        .label-name {
          font-size: 18px;
          font-weight: 600;
          margin-block-end: .3em;
        }

        .labels-notes-container {
          margin-block-end: 3em;

          .notes-container {
            .note {
              margin-inline-start: 0;
            }
          }
        }

        .empty-labels {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-block: 5rem;
          
          i {
            color: #37383b;
            font-size: 100px;
          }

          p {
            font-size: 23px;
            color: #aeafb3;
          }
        }
      }

      .Archive {
        .archive-header {
          margin-block: 0 .9em;
          padding-block: 0 .7em;
          border-bottom: 1px solid #99999a;
        }

        .empty-archive {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-block: 5rem;
          
          i {
            color: #37383b;
            font-size: 150px;
          }

          p {
            font-size: 23px;
            color: #aeafb3;
          }
        }
      }

      .Trash {
        .empty-trash {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-block: 5rem;
        }

        i {
          color: #37383b;
          font-size: 150px;
        }

        p {
          font-size: 23px;
          color: #aeafb3;
        }
      }
    }
  }

  @include phone {
    main {
      display: flex;
      flex-direction: column;

      nav {
        display: flex;
        // flex-direction: column;
        margin: 1em auto;

        .nav__link {
          width: fit-content;
          display: flex;
          padding: .5em .5em;
          margin: 1em;

          p {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
          }
        }
      }
    }
  }
}
