* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  font-family: 'Poppins', sans-serif;
  background-color: #202124;
  color: #e2e2e2;
}

.app.light-mode {
  background-color: white;
}

.app.light-mode nav .nav__link svg {
  fill: #2d2e30;
}

.app.light-mode nav .nav__link p {
  color: #2d2e30;
}

.app.light-mode nav .nav__link.selected {
  background-color: #feefc3;
}

.app.light-mode nav .nav__link.selected:hover, .app.light-mode nav .nav__link.selected:focus {
  background-color: #f0d37b;
}

.app.light-mode nav .nav__link:hover, .app.light-mode nav .nav__link:focus {
  background-color: #d8d8d896;
}

.app.light-mode .routes .route .notes-container .note {
  border-color: #b6b6b69d;
  color: rgba(0, 0, 0, 0.637);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app.light-mode .routes .route .notes-container .note p {
  color: #202124ab;
}

.app.light-mode .routes .route .notes-container .note:hover {
  -webkit-box-shadow: 7px 7px 20px #0000003a;
          box-shadow: 7px 7px 20px #0000003a;
}

.app.light-mode .routes .route .notes-container .note .labels-container .note-label {
  background-color: #e4e4e4;
  color: #2d2e30;
}

.app.light-mode .routes .route .notes-container .note .labels-container .note-label:hover {
  background-color: rgba(255, 162, 162, 0.664);
}

.app.light-mode .routes .route .notes-container .note .deleted-overlay {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app.light-mode .routes .route .notes-container .note .deleted-overlay button {
  background-color: white;
  color: #202124;
  border: 1px solid transparent;
}

.app.light-mode .routes .route .notes-container .note .deleted-overlay button:hover {
  background-color: white;
  border-color: #7c7c7c;
  color: #202124;
  -webkit-box-shadow: 1px 1px 3px #7070705b;
          box-shadow: 1px 1px 3px #7070705b;
}

.app.light-mode .routes .route .notes-container .note .deleted-overlay:hover {
  background-color: #5253563b;
  border: none;
}

.app.light-mode .routes .route .notes-container .note .label-modal {
  background-color: white;
  border: 1px solid #e2e2e2;
  -webkit-box-shadow: 3px 3px 8px #5253561f;
          box-shadow: 3px 3px 8px #5253561f;
}

.app.light-mode .routes .route .notes-container .note .label-modal input {
  color: #202124;
}

.app.light-mode .routes .route .notes-container .note .label-modal .modal-options button {
  color: #2021248a;
  border: 1px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app.light-mode .routes .route .notes-container .note .label-modal .modal-options button:hover {
  background-color: transparent;
  border-color: #99999a;
}

.app.light-mode .routes .route .notes-container .note .label-modal .modal-options .modal-icons-container i:hover {
  background-color: #f1f1f1;
}

.app.light-mode .routes .route .notes-container .note:hover {
  border: none;
}

.app.light-mode .routes .route .notes-container .note .icons *:hover, .app.light-mode .routes .route .notes-container .note .icons *:focus {
  fill: #202124;
  color: #202124;
}

.app.light-mode .routes .Notes .take-a-note {
  color: #2d2e30;
  border-color: #a3a5a86e;
}

.app.light-mode .routes .Notes .note-field {
  -webkit-box-shadow: 3px 3px 8px #57575a88;
          box-shadow: 3px 3px 8px #57575a88;
}

.app.light-mode .routes .Notes .note-field input, .app.light-mode .routes .Notes .note-field textarea {
  color: #2b2b2b;
}

.app.light-mode .routes .Notes .note-field .note-field-buttons button {
  color: #37383bad;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app.light-mode .routes .Notes .note-field .note-field-buttons button:hover {
  color: rgba(0, 0, 0, 0.822);
}

.app.light-mode .routes .Notes .empty-notes i {
  color: #5253562d;
}

.app.light-mode .routes .Notes .empty-notes p {
  color: #36363698;
}

.app.light-mode .routes .Labels .labels-header, .app.light-mode .routes .Labels .label-name {
  color: #4f4f52;
}

.app.light-mode .routes .Labels .empty-labels i {
  color: #5253562d;
}

.app.light-mode .routes .Labels .empty-labels p {
  color: #36363698;
}

.app.light-mode .routes .Archive .archive-header {
  color: #4f4f52;
}

.app.light-mode .routes .Archive .empty-archive i {
  color: #5253562d;
}

.app.light-mode .routes .Archive .empty-archive p {
  color: #36363698;
}

.app.light-mode .routes .Trash .deleted-header {
  color: #4f4f52;
}

.app.light-mode .routes .Trash .empty-trash i {
  color: #5253562d;
}

.app.light-mode .routes .Trash .empty-trash p {
  color: #36363698;
}

.app .home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13vh;
  border-bottom: 1px solid #727272a8;
}

.app .home__header.light-mode {
  background-color: white;
}

.app .home__header.light-mode .ham-logo-keep-container svg {
  fill: #4d4d4d;
}

.app .home__header.light-mode .ham-logo-keep-container h1 {
  color: #4d4d4d;
}

.app .home__header.light-mode form svg {
  fill: #57575a;
}

.app .home__header.light-mode form input {
  background-color: #f1f3f4;
}

.app .home__header.light-mode form input:focus {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

.app .home__header.light-mode form input.searching {
  background-color: #ddf7dd;
}

.app .home__header.light-mode .header-btns-container i {
  color: #4d4d4dbb;
}

.app .home__header.light-mode .header-btns-container button {
  color: #2d2e30;
  border: none;
}

.app .home__header.light-mode .header-btns-container button:hover {
  -webkit-box-shadow: 2px 2px 5px #57575a83;
          box-shadow: 2px 2px 5px #57575a83;
}

.app .home__header .ham-logo-keep-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: 1.5em;
}

.app .home__header .ham-logo-keep-container svg {
  font-size: 0px;
  width: 25px;
  fill: #b6b6b6;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  top: 2px;
}

.app .home__header .ham-logo-keep-container svg:hover, .app .home__header .ham-logo-keep-container svg:focus {
  cursor: pointer;
  fill: white;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.app .home__header .ham-logo-keep-container .logo {
  width: 2rem;
  margin-inline: 1.3rem;
}

.app .home__header .ham-logo-keep-container a {
  text-decoration: none;
  color: white;
}

.app .home__header .ham-logo-keep-container a h1 {
  font-weight: 500;
  font-size: 22px;
  -webkit-margin-end: 1.3rem;
          margin-inline-end: 1.3rem;
}

.app .home__header form {
  width: 100%;
}

.app .home__header form svg {
  position: relative;
  fill: #b4b4b4;
  left: 1.35em;
  top: 1.79em;
  z-index: 1;
}

.app .home__header form input {
  padding: .8em 4em;
  background-color: #4d4d4d;
  border: none;
  border-radius: 10px;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  bottom: .9em;
  color: white;
}

.app .home__header form input.searching {
  background-color: rgba(95, 158, 95, 0.336);
}

.app .home__header form input::-webkit-input-placeholder {
  color: #b7b7b8;
}

.app .home__header form input:-ms-input-placeholder {
  color: #b7b7b8;
}

.app .home__header form input::-ms-input-placeholder {
  color: #b7b7b8;
}

.app .home__header form input::placeholder {
  color: #b7b7b8;
}

.app .home__header form input:focus {
  background-color: white;
  color: black;
}

.app .home__header .header-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .home__header .header-btns-container button {
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: none;
  padding: .5em 1.5em;
  border-radius: 99px;
  margin-inline: 2em 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
}

.app .home__header .header-btns-container button:hover {
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.993);
          box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.993);
  border-color: #ffbb00d0;
}

.app .home__header .header-btns-container .toggler-container {
  margin-inline: 2em;
}

.app .home__header .header-btns-container .toggler-container .switch {
  position: relative;
  display: block;
  width: 90px;
  height: 55px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.app .home__header .header-btns-container .toggler-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(230, 230, 230, 0.096);
  -webkit-transition: .5s;
  transition: .5s;
  border: 4px solid transparent;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
}

.app .home__header .header-btns-container .toggler-container .slider::before {
  position: absolute;
  content: "";
  bottom: 14px;
  top: 8px;
  background-color: #ecd798;
  -webkit-transition: .5s;
  transition: .5s;
}

.app .home__header .header-btns-container .toggler-container .switch input {
  display: none;
}

.app .home__header .header-btns-container .toggler-container input:checked + .slider {
  background-color: #101111cb;
}

.app .home__header .header-btns-container .toggler-container input:checked + .slider::before {
  -webkit-transform: translateX(43px) rotateZ(45deg);
          transform: translateX(43px) rotateZ(45deg);
  background-color: #ffbb01;
}

.app .home__header .header-btns-container .toggler-container .slider.round {
  border-radius: 35px;
}

.app .home__header .header-btns-container .toggler-container .slider.round::before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.app nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.app nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 1em 1.5em;
  margin-block: 1em;
  width: 250px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.app nav .nav__link svg {
  fill: #e2e2e2;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.app nav .nav__link p {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  -webkit-margin-start: 1.8em;
          margin-inline-start: 1.8em;
  width: 100px;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.app nav .nav__link.closed {
  margin: 1em .5em;
  padding: 1em;
  border-radius: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.app nav .nav__link.closed p {
  width: 0px;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}

.app nav .nav__link.selected {
  background-color: #41331c;
}

.app nav .nav__link.selected:hover, .app nav .nav__link.selected:focus {
  background-color: #584424;
}

.app nav .nav__link:hover, .app nav .nav__link:focus {
  background-color: #45464b96;
}

.app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app main .routes {
  width: 100%;
}

.app main .routes .route {
  padding: 1.5em;
  height: 87vh;
}

.app main .routes .route .notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.app main .routes .route .notes-container .note {
  border: 1px solid #5f6368;
  border-radius: 10px;
  padding: 1em;
  margin: 1%;
  width: 31.3333%;
  overflow-wrap: break-word;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app main .routes .route .notes-container .note:hover {
  -webkit-box-shadow: 7px 7px 20px #00000098;
          box-shadow: 7px 7px 20px #00000098;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}

.app main .routes .route .notes-container .note h2 {
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
}

.app main .routes .route .notes-container .note p {
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
  color: #b7b7b8;
}

.app main .routes .route .notes-container .note .labels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app main .routes .route .notes-container .note .labels-container .note-label {
  font-size: 12px;
  margin: 0 1em 0em 0;
  background-color: #37383b;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .4em 1em;
  border-radius: 99px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.app main .routes .route .notes-container .note .labels-container button {
  color: rgba(255, 255, 255, 0.76);
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.app main .routes .route .notes-container .note .labels-container button:hover {
  background-color: #5e3b3b;
}

.app main .routes .route .notes-container .note.deleted-note {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app main .routes .route .notes-container .note.deleted-note p {
  font-size: 16px;
}

.app main .routes .route .notes-container .note.deleted-note:hover {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-color: transparent;
}

.app main .routes .route .notes-container .note .deleted-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app main .routes .route .notes-container .note .deleted-overlay button {
  color: #e2e2e2;
  background-color: #5c5c5ccc;
  border: none;
  padding: .5em 1em;
  font-size: 14px;
  border-radius: 99px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.app main .routes .route .notes-container .note .deleted-overlay button.delete-btn {
  -webkit-margin-end: 1em;
          margin-inline-end: 1em;
}

.app main .routes .route .notes-container .note .deleted-overlay button:hover {
  background-color: #616161;
  color: white;
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.644);
          box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.644);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-color: transparent;
}

.app main .routes .route .notes-container .note .deleted-overlay:hover {
  background-color: #18181ab9;
}

.app main .routes .route .notes-container .note .label-modal {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  position: absolute;
  top: 90%;
  left: 30%;
  background-color: #2d2e30;
  -webkit-box-shadow: 6px 10px 12px rgba(26, 26, 26, 0.842);
          box-shadow: 6px 10px 12px rgba(26, 26, 26, 0.842);
  border-radius: 7px;
  z-index: 1;
}

.app main .routes .route .notes-container .note .label-modal p {
  margin: 0 0 .5em 0;
  font-size: 16px;
}

.app main .routes .route .notes-container .note .label-modal input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 12px;
  padding: .3em .7em .3em 0;
  border-radius: 5px;
  outline: none;
}

.app main .routes .route .notes-container .note .label-modal .modal-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.app main .routes .route .notes-container .note .label-modal .modal-options button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: #e2e2e2;
  position: relative;
  right: 6px;
  bottom: 1px;
  padding: .6em;
  margin-bottom: -.6em;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  border-radius: 99px;
}

.app main .routes .route .notes-container .note .label-modal .modal-options button:hover {
  background-color: #525356;
}

.app main .routes .route .notes-container .note .label-modal .modal-options .modal-icons-container i {
  cursor: pointer;
  padding: .6em;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 50%;
  margin-bottom: -.5em;
  font-size: 13px;
  -webkit-margin-end: .5em;
          margin-inline-end: .5em;
}

.app main .routes .route .notes-container .note .label-modal .modal-options .modal-icons-container i:hover {
  background-color: #525356;
}

.app main .routes .route .notes-container .note.open-modal {
  border: 1px solid rgba(255, 255, 255, 0.781);
}

.app main .routes .route .notes-container h2, .app main .routes .route .notes-container p {
  margin: 0 0 1em 0;
}

.app main .routes .route .notes-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  fill: #99999a;
  color: #99999a;
  -webkit-padding-end: .5em;
          padding-inline-end: .5em;
  max-height: 100px;
  -webkit-transition: max-height .4s, opacity .2s;
  transition: max-height .4s, opacity .2s;
}

.app main .routes .route .notes-container .icons i {
  font-size: 18px;
  position: relative;
  top: 1px;
  right: 2px;
}

.app main .routes .route .notes-container .icons * {
  -webkit-margin-start: 1.5em;
          margin-inline-start: 1.5em;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.app main .routes .route .notes-container .icons *:hover, .app main .routes .route .notes-container .icons *:focus {
  fill: #eeeeee;
  color: #eeeeee;
}

.app main .routes .route .notes-container .icons .fa-bookmark {
  opacity: .9;
  position: relative;
  top: 5px;
  right: 10px;
  color: #99999a;
}

.app main .routes .route .notes-container .icons .fa-bookmark:hover, .app main .routes .route .notes-container .icons .fa-bookmark:focus {
  color: #f5f5f5;
}

.app main .routes .route .notes-container .icons.hidden {
  max-height: 0;
  opacity: 0;
}

.app main .routes .Notes .take-a-note {
  display: block;
  width: 60%;
  margin: auto;
  -webkit-margin-after: .8em;
          margin-block-end: .8em;
  background-color: transparent;
  color: #eeeeee;
  border: 1px solid #e2e2e2a2;
  padding: .75em .75em;
  border-radius: 10px;
}

.app main .routes .Notes .take-a-note:disabled {
  cursor: not-allowed;
}

.app main .routes .Notes .note-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
  border: 1px solid rgba(211, 211, 211, 0.438);
  border-radius: 10px;
  padding: .1em .5em;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.app main .routes .Notes .note-field input, .app main .routes .Notes .note-field textarea {
  background-color: transparent;
  border-radius: 10px;
  border: none;
  margin: .7em .2em .2em .2em;
  padding: .5em .5em;
  color: #eee;
}

.app main .routes .Notes .note-field textarea {
  font-size: 14px;
  resize: none;
  padding-block: 1em;
}

.app main .routes .Notes .note-field .note-field-buttons {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-block: .5em;
}

.app main .routes .Notes .note-field .note-field-buttons button {
  background-color: transparent;
  border: none;
  color: #e2e2e2;
  font-size: 14px;
  -webkit-margin-start: 1.5em;
          margin-inline-start: 1.5em;
  cursor: pointer;
  padding: .8em 1.4em;
  border-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.app main .routes .Notes .note-field .note-field-buttons button:hover, .app main .routes .Notes .note-field .note-field-buttons button:focus {
  background-color: #68686825;
}

.app main .routes .Notes .empty-notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 73vh;
}

.app main .routes .Notes .empty-notes i {
  color: #37383b;
  font-size: 100px;
}

.app main .routes .Notes .empty-notes p {
  font-size: 23px;
  color: #aeafb3;
}

.app main .routes .Labels .labels-header {
  margin-block: 0 .9em;
  padding-block: 0 .7em;
  border-bottom: 1px solid #99999a;
}

.app main .routes .Labels .label-name {
  font-size: 18px;
  font-weight: 600;
  -webkit-margin-after: .3em;
          margin-block-end: .3em;
}

.app main .routes .Labels .labels-notes-container {
  -webkit-margin-after: 3em;
          margin-block-end: 3em;
}

.app main .routes .Labels .labels-notes-container .notes-container .note {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.app main .routes .Labels .empty-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-block: 5rem;
}

.app main .routes .Labels .empty-labels i {
  color: #37383b;
  font-size: 100px;
}

.app main .routes .Labels .empty-labels p {
  font-size: 23px;
  color: #aeafb3;
}

.app main .routes .Archive .archive-header {
  margin-block: 0 .9em;
  padding-block: 0 .7em;
  border-bottom: 1px solid #99999a;
}

.app main .routes .Archive .empty-archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-block: 5rem;
}

.app main .routes .Archive .empty-archive i {
  color: #37383b;
  font-size: 150px;
}

.app main .routes .Archive .empty-archive p {
  font-size: 23px;
  color: #aeafb3;
}

.app main .routes .Trash .empty-trash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-block: 5rem;
}

.app main .routes .Trash i {
  color: #37383b;
  font-size: 150px;
}

.app main .routes .Trash p {
  font-size: 23px;
  color: #aeafb3;
}
/*# sourceMappingURL=app.css.map */