* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202124;
  color: #e2e2e2;

  .home__header {
    display: flex;
    align-items: center;
    height: 13vh;
    border-bottom: 1px solid #727272a8;

    .ham-logo-keep-container {
      display: flex;
      align-items: center;
      margin-inline: 1.5em;

      svg {
        font-size: 0px;
        width: 25px;
        fill: #b6b6b6;
        transition: all .3s;
        position: relative;
        top: 2px;

        &:hover, &:focus {
          cursor: pointer;
          fill: white;
          transform: scale(110%);
        }
      }

      .logo {
        width: 2rem;
        margin-inline: 1.3rem;
      }
  
      a {
        text-decoration: none;
        color: white;

        h1 {
          font-weight: 500;
          font-size: 22px;
          margin-inline-end: 1.3rem;
        } 
      }
    }

    svg {
      position: relative;
      left: 2.4em;
      fill: #e8e9e9;
    }

    input {
      padding: .8em 3em;
      background-color: #525356;
      border: none;
      border-radius: 10px;
      width: 70%;

      &::placeholder {
        color: #b7b7b8;
      }
    }

    .fa-gear {
      font-size: 23px;
      margin-inline: auto;
      padding-inline: 2em;
      color: #99999a;
    }
  }

  nav {
    width: max-content;

    .nav__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1em 1.5em;
      margin-block: 1em;
      width: 250px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      transition: background-color .3s;

      svg {
        fill: #e2e2e2;
        transform: scale(105%);
      }

      p {
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin: 0;
        margin-inline-start: 1.8em;
        width: 100px;
        transition: opacity .4s;
      }

      &.closed {
        margin: 1em .5em;
        padding: 1em;
        border-radius: 50%;
        width: max-content;

        p {
          width: 0px;
          margin: 0;
          overflow: hidden;
          opacity: 0;
        }
      }

      &.selected {
        background-color: #41331c;

        &:hover, &:focus {
          background-color: #584424;
        }
      }

      &:hover, &:focus {
        background-color: #45464b96;
      }
    }
  }

  main {
    display: flex;

    .routes {
      width: 100%;
      
      .route {
        padding: 1.5em;
        height: 87vh;
        
        .notes-container {
          display: flex;
          flex-wrap: wrap;
          align-items: start;

          .note {
            border: 1px solid #5f6368;
            border-radius: 10px;
            padding: 1em;
            margin: 1%;
            width: 31.3333%;
            overflow-wrap: break-word;
            position: relative;
            transition: all .3s;

            &:hover {
              box-shadow: 7px 7px 20px #00000098;
              transform: translate(-4px, -4px);
            }

            p {
              margin-block-end: 0;
            }

            .labels-container {
              display: flex;
              flex-wrap: wrap;

              .note-label {
                font-size: 12px;
                margin: 0 1em 0em 0;
                background-color: #37383b;
                width: max-content;
                padding: .4em 1em;
                border-radius: 99px;
                margin-block-start: 1em;
              }

              button {
                color: rgba(255, 255, 255, 0.76);
                border: none;
                transition: all .2s;
                cursor: pointer;
                
                &:hover {
                  background-color: #5e3b3b;
                }
              }
            }

            &.deleted-note {
              transition: all .3s;
              
              &:hover {
                backdrop-filter: blur(5px);
                border-color: transparent;
              }
            }

            .deleted-overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              transition: all .3s;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              button {
                color: rgb(226, 226, 226);
                background-color: #5c5c5ccc;
                border: none;
                padding: .5em 1em;
                font-size: 14px;
                border-radius: 99px;
                transition: all .3s;
                cursor: pointer;

                &.delete-btn {
                  margin-inline-end: 1em;
                }

                &:hover {
                  background-color: #616161;
                  color: rgb(255, 255, 255);
                  transform: scale(1.05);
                  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.644);
                  backdrop-filter: blur(5px);
                  border-color: transparent;
                }
              }

              &:hover {
                background-color: #18181ab9;
              }
            }

            .label-modal {
              width: 80%;
              display: flex;
              flex-direction: column;
              padding: 1em;
              position: absolute;
              top: 90%;
              left: 30%;
              background-color: #2d2e30;
              box-shadow: 6px 10px 12px rgba(26, 26, 26, 0.842);
              border-radius: 7px;
              z-index: 1;

              p {
                margin: 0 0 .5em 0;
                font-size: 16px;
              }

              input {
                width: 100%;
                background-color: transparent;
                border: none;
                color: white;
                font-size: 12px;
                padding: .3em .7em .3em 0;
                border-radius: 5px;
                outline: none;
              }

              .modal-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-block-start: 1em;

                button {
                  font-size: 12px;
                  background-color: transparent;
                  border: none;
                  color: #e2e2e2;
                  position: relative;
                  right: 6px;
                  bottom: 1px;
                  padding: .6em;
                  margin-bottom: -.6em;
                  transition: background-color .2s;
                  border-radius: 99px;

                  &:hover {
                    background-color: #525356;
                  }
                }

                .modal-icons-container {
                  i {
                    cursor: pointer;
                    padding: .6em;
                    transition: all .2s;
                    border-radius: 50%;
                    margin-bottom: -.5em;
                    font-size: 13px;
                    margin-inline-end: .5em;
    
                    &:hover {
                      background-color: #525356;
                    }
                }

              }

              }
            }

            &.open-modal {
              border: 1px solid rgba(255, 255, 255, 0.781);
            }
          }

          h2, p {
            margin: 0 0 1em 0;
          }

          .icons {
            display: flex;
            justify-content: right;
            fill: #99999a;
            color: #99999a;
            padding-inline-end: .5em;
            max-height: 100px;
            transition: max-height .4s, opacity .2s;

            i {
              font-size: 18px;
              position: relative;
              top: 1px;
              right: 2px;
            }

            * {
              margin-inline-start: 1.5em;
              transition: all .2s;
              margin-block-start: 1em;

              &:hover, &:focus {
                fill: #eeeeee;
                color: #eeeeee
              }
            }

            .fa-bookmark {
              opacity: .9;
              position: relative;
              top: 5px;
              right: 10px;
              color: #99999a;

              &:hover, &:focus {
                color: #f5f5f5;
              }
            }

            &.hidden {
              max-height: 0;
              opacity: 0;
            }
          }
        }
      }
      
      .Notes {

        .take-a-note {
          display: block;
          width: 60%;
          margin: auto;
          margin-block-end: .8em;
          background-color: transparent;
          color: #eeeeee;
          border: 1px solid #e2e2e2a2;
          padding: .75em .75em;
          border-radius: 10px;
        }

        .note-field {
          display: flex;
          flex-direction: column;
          width: 60%;
          margin: auto;
          border: 1px solid rgba(211, 211, 211, 0.438);
          border-radius: 10px;
          padding: .1em .5em;
          box-shadow: 2px 2px 2px black;

          input, textarea {
            background-color: transparent;
            border-radius: 10px;
            border: none;
            margin: .7em .2em .2em .2em;
            padding: .5em .5em;
            color: #eee;
          }

          textarea {
            font-size: 14px;
            resize: none;
            padding-block: 1em;
          }
          
          .note-field-buttons {
            width: max-content;
            align-self: end;
            padding-block: .5em;

            button {
              background-color: transparent;
              border: none;
              color: #e2e2e2; 
              font-size: 14px;
              margin-inline-start: 1.5em;
              cursor: pointer;
              padding: .8em 1.4em;
              border-radius: 5px;
              transition: all .2s;

              &:hover, &:focus {
                background-color: #68686825;
              }
            }
          }
        }

        .empty-notes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 75vh;
          // padding-block: 5rem;
          
          i {
            color: #37383b;
            font-size: 100px;
          }

          p {
            font-size: 23px;
            color: #aeafb3;
          }
        }
      }

      .Labels {
        .labels-header {
          margin-block: 0 .9em;
          padding-block: 0 .7em;
          border-bottom: 1px solid #99999a;
        }

        .label-name {
          font-size: 18px;
          font-weight: 600;
          margin-block-end: .3em;
        }

        .labels-notes-container {
          margin-block-end: 3em;

          .notes-container {
            .note {
              margin-inline-start: 0;
            }
          }
        }

        .empty-labels {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-block: 5rem;
          
          i {
            color: #37383b;
            font-size: 100px;
          }

          p {
            font-size: 23px;
            color: #aeafb3;
          }
        }
      }

      .Archive {
        .archive-header {
          margin-block: 0 .9em;
          padding-block: 0 .7em;
          border-bottom: 1px solid #99999a;
        }

        .empty-archive {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-block: 5rem;
          
          i {
            color: #37383b;
            font-size: 150px;
          }

          p {
            font-size: 23px;
            color: #aeafb3;
          }
        }
      }

      .Trash {
        .empty-trash {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-block: 5rem;
        }

        i {
          color: #37383b;
          font-size: 150px;
        }

        p {
          font-size: 23px;
          color: #aeafb3;
        }
      }
    }
  }
}
